.product-info {
    text-align: center;
    flex: 1 1 auto;
    width: 200px;
}

.product-info > img {
    margin-top: 2em;
    height: 200px;
    width: 200px;
}

.product-info > h2 {
    margin-bottom: 0;
}

.subtitle {
    color: #c4c7cf;
    margin: 0.5em 1em;
}

.tags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1em;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    padding: 1em;
    margin: 1em 0;
}

.tags > span {
    border: solid 1px black;
    border-radius: 0.25em;
    padding: 0.5em 1em;
    white-space: nowrap;
}