.sales {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em;
    gap: 2em;
}

.sales > div {
    background-color: white;
}

.sales-graph {
    width: 600px;
    flex: 5 6 auto;
    overflow-x: scroll;
    padding: 2em;
}

.sales-graph > h2 {
    margin-top: 0;
}