.App {
  text-align: left;
  background-color: #f6f8fa;
  height: 100vh;
}

.App-logo {
  height: 1em;
}

.App-header {
  background-color: #052849;
  padding: 1em;
  color: white;
  margin-bottom: 2em;
}
